---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import BmToolPreview from '../components/BmToolPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const resources = (await getCollection('bmTool')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="BM Tool List | The Badass Bunker"
	description="A list of community made Homebrew content for Bunkers and Badasses"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Bunker Master Tools"
				tagline="A list of community made Bunker Master Tools for Bunkers and Badasses"
				align="start"
			/>
			<Grid variant="offset">
				{
					resources.map((resource) => (
						<li>
							<BmToolPreview resource={resource} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
