---

---
<main>
  <h1 class="text-center">B&B BM Cheatsheet</h1>
  <div class="cheatsheet">
    <section>
      <h2>Check Types</h2>
      <details>
        <summary>Interact (ACC)</summary>
        <h3>When to use Interact checks:</h3>
        <ul>
          <li>When picking up a mythical weapon and trying to avoid the trap mechanism.</li>
          <li>When frantically trying to disable the trap mechanism you just triggered.</li>
          <li>When a vault hunter is hungover and has to do literally anything.</li>
        </ul>
        <h3>When not to use interact checks:</h3>
        <ul>
          <li>When a vault Hunter is using an item they've used dozens of times before (except when hungover).</li>
          <li>When picking up items outside of combat or time sensitive moments.</li>
        </ul>
      </details>
      <details>
        <summary>Talk (SPD)</summary>
        <h3>When to use Talk checks:</h3>
        <ul>
          <li>When a Vault Hunter wishes to negotiate or intimidate.</li>
          <li>When a Vault Hunter wishes to persuade or bluff.</li>
          <li>When a Vault Hunter wishes to perform slam poetry.</li>
        </ul>
        <h3>When not to use Talk checks:</h3>
        <ul>
          <li>When a Vault Hunter is having a normal conversation about their elaborate backstory.</li>
          <li>When a Vault Hunter is yelling something during an encounter.</li>
          <li>If a Vault Hunter takes a vow of silence.</li>
        </ul>
      </details>
      <details>
        <summary>Insight (ACC)</summary>
        <h3>When to use Insight checks:</h3>
        <ul>
          <li>When a Vault Hunter is recalling information that they might not remember correctly.</li>
          <li>When a Vault Hunter is solving the Riddle of a Sphynx or similar quizzical creature.</li>
          <li>When a Vault Hunter is trying to read into the intentions of a person or creature they see.</li>
        </ul>
        <h3>When not to use Insight checks:</h3>
        <ul>
          <li>When a Vault Hunter is using knowledge they talk about often.</li>
          <li>When a Vault Hunter is remembering an important piece of the campaign you lovingly crafted.</li>
          <li>When a Vault Hunter is trying to read the intentions of a creature that is eating them alive.</li>
        </ul>
      </details>
      <details>
        <summary>Sneak (MST)</summary>
        <h3>When to use Sneak checks:</h3>
        <ul>
          <li>When a Vault Hunter wishes not to be seen.</li>
          <li>When a Vault Hunter wishes not to be heard.</li>
        </ul>
        <h3>When not to use Sneak checks:</h3>
        <ul>
          <li>When a Vault Hunter wishes to be seen.</li>
          <li>When a Vault Hunter wishes to be heard.</li>
        </ul>
      </details>
      <details>
        <summary>Search (MST)</summary>
        <h3>When to use Search checks:</h3>
        <ul>
          <li>When a Vault Hunter wants to find something hidden, like a secret pathway or item.</li>
          <li>When a Vault Hunter believes there is more Loot to find if they look hard enough.</li>
          <li>If there are tracks the Vault Hunter wants to follow.</li>
        </ul>
        <h3>When not to use Search checks:</h3>
        <ul>
          <li>When something is out in the open, like a door or item. </li>
          <li>When a Vault Hunter is trying to Loot a non-dead Enemy (that'd be sneak).</li>
        </ul>
      </details>
      <details>
        <summary>Traverse (SPD)</summary>
        <h3>When to use Traverse checks:</h3>
        <ul>
          <li>When a Vault Hunter wants to hop over a barrier, box, or onto a platform.</li>
          <li>When a Vault Hunter needs to attempt a challenging climb, swim, or leap.</li>
        </ul>
        <h3>When not to use Traverse checks:</h3>
        <ul>
          <li>If there is something easily avoidable for the Vault Hunter.</li>
          <li>If the Vault Hunter is just taking a regular Move Action.</li>
        </ul>
      </details>
    </section>
    <section>
      <h2>Enemy Attacks</h2>
      <p>When enemies take Attack Actions, roll 1d20 and subtract the Speed (SPD) Mod of their target to see how well their Attack resolves</p>
      <dl>
        <dt>1:</dt>
        <dd>Attack fails. For fun, describe how and why the Enemy wasn't successful. Make it embarrassing.</dd>
        <dt>2-7:</dt>
        <dd>The Attack deals normal Damage.</dd>
        <dt>8-15:</dt>
        <dd>The Attack deals +2 Damage.</dd>
        <dt>16-19:</dt>
        <dd>the Attack deals +4 Damage.</dd>
        <dt>20+:</dt>
        <dd>The Attack is a Critical success and deals double Damage. 1 Mayhem Point is gained.</dd>
      </dl>
    </section>
    <section>
      <h2>Melee Attacks</h2>
      <p>Melee Attacks can only be performed on an adjacent target.</p>
      <dl>
        <dt>1:</dt>
        <dd>Attack fails. For fun, describe how and why the attack failed. Make it embarrassing.</dd>
        <dt>2-15:</dt>
        <dd>The Attack deals normal Damage.</dd>
        <dt>16-19:</dt>
        <dd>+1 Damage Die</dd>
        <dt>20+:</dt>
        <dd>Double Damage. (do not use the extra damage die from the previous level)</dd>
      </dl>
    </section>
    <section>
      <h2>Throwing Items/Grenades</h2>
      <p>
        If the distance of a throw is within the number of squares equal to or less than the player's DMG Mod, the Throw always succeeds.
      </p>
      <p>
        For a further Throw, the player must pass an accuracy roll of 12 or higher, by rolling 1d20 and adding their ACC Mod (the BM can alter the difficulty based on the situation).
      </p>
      <p>
        If the player passes, the Throw succeeds. If they fail, the BM determines wherewhere the item lands and what happens next.
      </p>
    </section>
    <section>
      <h2>Player Combat Actions</h2>
      <p>During a Vault Hunter's Turn, they can do any/all of the following once in any order:</p>
      <dl>
        <dt>Move</dt>
        <dd>Move a number of squares equal to a player's Movement (3 squares + SPD Mod).</dd>
        <dt>Attack</dt>
        <dd>Make a Ranged or Melee Attack against a target within range. Can not be used on the same turn when Action Skill is Activated.</dd>
        <dt>Activate<br>Action Skill</dt>
        <dd>Instead of Attacking on a turn, players may Activate their character's Action Skill. A player may not use Extra Attacks on the same turn they Activate an Action Skill.</dd>
        <dt>Throw</dt>
        <dd>Throw an item or grenade.</dd>
        <dt>Drink a Potion</dt>
        <dd>Consume a Potion</dd>
      </dl>
    </section>
    <section>
      <h2>Player Combat Actions with Mayhem</h2>
      <p>Players can optionally do any of the following on their turn. Each action will generate 1 Mayhem Point.</p>
      <dl>
        <dt>Extra Move</dt>
        <dd>Move a number of squares equal to a player's Movement (3 squares + SPD Mod).</dd>
        <dt>Extra Attack</dt>
        <dd>Make a Ranged or Melee Attack against a target within range. Can not be used on the same turn when Action Skill is Activated.</dd>
        <dt>Swap Guns</dt>
        <dd>Swap current gun for another equipped gun.</dd>
        <dt>Attempt a Check</dt>
        <dd>Failing the Check grants the BM an additional Mayhem Point for a total of 2.</dd>
        <dt>Handoff Item</dt>
        <dd>Hand an Item to an adjacent target.</dd>
        <dt>Reload</dt>
        <dd>If a Vault Hunter failed their Attack Roll, they will have to Reload instead. A player may also choose to skip their Attack and Reload for a benefit from things like Archetype Feats.</dd>
      </dl>
    </section>
    <section>
      <h2>Moxxi's Slot Machine</h2>
      <p>Costs 100gp, roll 3d8. Use the highest score possible (Double 1s are a higher score than a single 8.)</p>
      <dl>
        <dt>x+x+x</dt>
        <dd>Nothing happens!</dd>
        <dt>8+x+x</dt>
        <dd>Gain 50gp (Yay! You got some money back!)</dd>
        <dt>1+1+x</dt>
        <dd>LOSER! take 2d10 Shock DMG</dd>
        <dt>1+1+1</dt>
        <dd>LOSER! take 3d10 Shock DMG</dd>
        <dt>2+2+x</dt>
        <dd>Cherries! 1x 1d8 healing potion</dd>
        <dt>2+2+2</dt>
        <dd>Cherries! 2x 2d8 healing potions</dd>
        <dt>3+3+x</dt>
        <dd>Grenade! 1x Grenade mod (roll grenade mod)</dd>
        <dt>3+3+3</dt>
        <dd>Grenade! 2x Grenade mods (roll grenade mod)</dd>
        <dt>4+4+x</dt>
        <dd>Money! 100gp</dd>
        <dt>4+4+4</dt>
        <dd>Money! 200gp</dd>
        <dt>5+5+x</dt>
        <dd>Guns! 3 guns (max rarity rare)</dd>
        <dt>5+5+5</dt>
        <dd>Guns! 3 guns max (rarity epic)</dd>
        <dt>6+6+x</dt>
        <dd>Shields! 2 shields (max rarity rare)</dd>
        <dt>6+6+6</dt>
        <dd>Shields! 2 shields (max rarity epic)</dd>
        <dt>7+7+x</dt>
        <dd>Lucky! 1 Moxx-tail potion</dd>
        <dt>7+7+7</dt>
        <dd>Lucky! 2 Moxx-tail potions</dd>
        <dt>8+8+x</dt>
        <dd>Jackpot! 500gp</dd>
        <dt>8+8+8</dt>
        <dd>Jackpot! 1000gp</dd>
      </dl>
    </section>
  </div>
</main>
<style>
  @layer reset, composition, utility, block, exception;

  @layer reset {
    /* Remove default margin */
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    figure,
    blockquote,
    dl,
    dd {
      margin: 0;
    }

    /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    ul[role="list"],
    ol[role="list"] {
      list-style: none;
    }

    /* Set core root defaults */
    html:focus-within {
      scroll-behavior: smooth;
    }

    /* Set core body defaults */
    body {
      min-height: 100vh;
      text-rendering: optimizeSpeed;
      line-height: 1.5;
    }

    /* A elements that don't have a class get default styles */
    a:not([class]) {
      text-decoration-skip-ink: auto;
    }

    /* Make images easier to work with */
    img,
    picture {
      max-width: 100%;
      display: block;
    }

    /* Inherit fonts for inputs and buttons */
    input,
    button,
    textarea,
    select {
      font: inherit;
    }

    /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
    @media (prefers-reduced-motion: reduce) {
      html:focus-within {
        scroll-behavior: auto;
      }

      *,
      *::before,
      *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
      }
    }
  }

  @layer composition {
    main {
      font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
      font-size: 1.25rem;

    }

    section > * + * {
      margin-block-start: 1rem;
    }

    .cheatsheet {
      display: grid;
      gap: 1rem;
      padding: 0.5rem;
    }
    @media screen and (min-width: 768px) {
      .cheatsheet {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media screen and (min-width: 1280px) {
      .cheatsheet {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media screen and (min-width: 2560px) {
      .cheatsheet {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  @layer utility {
    .text-center {
      text-align: center;
    }
  }

  @layer block {
    section {
      --tl-border: 1.6rem;
      padding: 1rem;
      border: 4px solid var(--accent-dark);
      background-color: var(--gray-800);
      background-origin: 0 0;
      background-image: linear-gradient(
          146.31deg,
          var(--accent-dark) 0% var(--tl-border),
          transparent var(--tl-border) calc(100% - var(--tl-border)),
          var(--accent-dark) calc(100% - var(--tl-border))
      ), var(--gradient-subtle);
      -webkit-clip-path: polygon(
          0 2rem,
          0 100%,
          calc(-3rem + 100%) 100%,
          100% calc(-2rem + 100%),
          100% 0,
          3rem 0
      );
      clip-path: polygon(
          0 2rem,
          0 100%,
          calc(-3rem + 100%) 100%,
          100% calc(-2rem + 100%),
          100% 0,
          3rem 0
      );
    }

    dl {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.5ch;
    }
    dt,
    dd {
      display: inline;
    }
    dt {
      grid-column: 1;
      font-weight: bold;
      text-align: end;
    }
    dd {
      grid-column: 2;
    }
  }
</style>
